/* Common Elements */

/* "*" can be used to select everything */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
address,
a,
input,
select,
img,
video {
  margin-bottom: 20px;
}

a,
input,
select {
  display: block;
}

input {
  box-sizing: border-box;
}

img,
video,
select,
input {
  width: 100%;
}

ul,
ol {
  padding-left: 20px;
}

@media screen and (min-width: 690px) {
  .flex-container {
    display: flex;
  }

  .flex-container > div {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 20px;
    /* margin: horizontal (0px) vertical (20px) */
  }
}

/* Card */

.card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.25);
}

.card img {
  margin: 0;
}

.card h1,
.card section,
.card footer {
  padding: 0 10px;
}

.card header,
.card section {
  border-bottom: 1px solid lightgray;
}

.card footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.card button {
  color: white;
  background: blue;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
}
